.app-sidebar {
  height: 100vh;
  padding: 16px;
  border-right: 1px solid #e0e0e0;

  @media (max-width: 680px) {
    width: 100%;
    border: none;
  }

  &__filters-sort {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-block: 20px;

    & > * {
      flex: 0 0 calc(50% - 5px);
    }
  }
}
