.app-sidebar {
  height: 100vh;
  padding: 16px;
  box-shadow: 0.5px 0 1px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 680px) {
    width: 100%;
    box-shadow: none;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 24px;

    & > * {
      flex: 0 0 calc(50% - 5px);
    }
  }
}
